build:
  nodes:
    coverage:
      tests:
        override:
          - command: 'make coverage'
            coverage:
              file: 'test/.coverage'
              config_file: '.coveragerc'
              format: 'py-cc'

